<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-sumup" version="0.0.1">
  <name>Sumup</name>
  <description>Cordova Sumup Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,sumup</keywords>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Sumup">
        <param name="ios-package" value="CDVSumup"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string></string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
        <string></string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
        <string></string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
        <string></string>
    </config-file>
    <config-file target="*-Info.plist" parent="SUMUP_API_KEY">
        <string>$SUMUP_API_KEY</string>
    </config-file>
    <framework src="src/ios/SumupSDK.embeddedframework/SumupSDK.framework" custom="true" />
    <framework src="src/ios/SumupSDK.embeddedframework/SumupSDK.framework/resources/SMPSharedResources.bundle" custom="true" />
    <framework src="src/ios/SumupSDK.embeddedframework/SumupSDK.framework/resources/YTLibResources.bundle" custom="true" />
    <framework src="AVFoundation.framework" weak="true" />
    <framework src="Accelerate.framework"  weak="true"/>
    <framework src="MapKit.framework" weak="true" />
    <header-file src="src/ios/CDVSumup.h" />
    <source-file src="src/ios/CDVSumup.m" />
    <preference name="SUMUP_API_KEY" />
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sumup">
        <param name="android-package" value="org.apache.cordova.sumup.sumup" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="ResultActivity"  android:label="Payment Result">
        <intent-filter>
          <action android:name="com.example.ResultActivity"></action>
          <category android:name="android.intent.category.DEFAULT"></category>
          <category android:name="android.intent.category.BROWSABLE"></category>
        </intent-filter>
      </activity>
    </config-file>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <preference name="SUMUP_API_KEY" />
    <source-file src="src/android/sumup.java" target-dir="src/org/apache/cordova/sumup" />
    <source-file src="src/android/sdksumup/merchant-sdk-1.55.1.aar" custom="true" />
    <config-file target="./res/values/strings.xml" parent="/resources">
      <string name="custom">$SUMUP_API_KEY</string>
    </config-file>
  </platform>
</plugin>